### What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for
1. web development (server-side),
2. software development,
3. mathematics,
4. system scripting.

### What can Python do?
1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. Python can be used for rapid prototyping, or for production-ready software development.

### Why Python?
1. Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
2. Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-oriented way or a functional way.

### Good to know
1. The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
2. In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

### Python Syntax compared to other programming languages
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [135]:
print("welcome")

welcome

### Comments

In [139]:
# This is a comment
print("Hello, World!") # This is a comment

# comment
"""
python
jupyter
"""

Hello, World!

'\npython\njupyter\n'

In [ ]:
"""
This is a comment
written in
more than just one line
"""

### Data Types

Variables

In [160]:
A

'jupyter'

In [153]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

Integer

In [161]:
a = 4
# print(a,type(a))

4

In [159]:
a

4

Float

In [166]:
a = 3.2
print(type(a))
print (a)

<class 'float'>
3.2

String

In [13]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(type(a))
print(a)

<class 'str'>
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(type(a))
print(a)

Boolean

In [168]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Type Casting

In [17]:
x = int(1)   # x will be 1
x

1

In [18]:
y = int(2.8) # y will be 2
y

2

In [21]:
z = int("3") # z will be 3
z

3

In [22]:
x = float(1) # x will be 1.0
x

1.0

In [170]:
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4") # w will be 4.2
print(y,z,w)

2.8 3.0 4.0

In [27]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(y,x,z)

2 s1 3.0

### Other Data Types

In [ ]:
'''
x = "Hello World" #str
x = 20 #int
x = 20.5 #float
x = 1j #complex
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "John", "age" : 36} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozenset
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
'''

### Arithmetic Operators

In [171]:
# Addition
5 + 10

15

In [172]:
# Subtraction
5 - 6

-1

In [173]:
# Multiplication
5 * 7

35

In [174]:
# Division
10/ 5

2.0

In [175]:
# Modulus
5 % 10

5

In [176]:
# Floor division
20 // 4

5

In [177]:
# Exponentiation
5 ** 5

3125

In [37]:
1/0

ZeroDivisionError: division by zero

### Assignment Operators

In [209]:
x = 5

In [210]:
x +=3
x

8

In [179]:
x = x + 3
x

13

In [180]:
x -= 3
x

10

In [181]:
x = x - 3
x

7

In [182]:
x *= 3
x

21

In [185]:
x = x * 3
x

567

In [187]:
x /= 3
x = x / 3
x

63.0

In [188]:
x

63.0

In [191]:
# x %= 3
x = x % 3
x

0

In [192]:
x = 5

In [204]:
# x //= 3
x = x // 3
x

8

In [55]:
# x **= 3
x = x ** 3
x

125

In [219]:
# x &= 3
x = x & 3
x

0

In [215]:
x = x & 3

In [ ]:
And /\ X

In [ ]:
Or \/ +

In [ ]:
LCM &
GCD |

In [220]:
6&7

6

In [221]:
6|7

7

In [ ]:
6 -> 0110
5 -> 0101
# &    0100 -> 4
|    0111 -> 7

In [229]:
a = 2
b = 3

(a<1)|(b>=4)

False

In [241]:
x = 12

In [242]:
# x |= 3
x= x | 3
x

15

In [239]:
x = 4

In [240]:
# x ^= 3
x = x ^ 3
x

7

In [ ]:
0100
0011
0111 -> 7

In [ ]:
XOR ^
# XNOR

11 0
01 1
10 1
00 0

NOR 11 0 > 1
XOR 11 1 > 0

In [ ]:
0011

0001

In [255]:
x = 15
# 1111

# x >>= 3
x = x >> 2
x
# 0011

3

In [ ]:
x = 8

In [248]:
# 8 -> 1000
# 8 >> 3
# 0011
x

3

In [253]:
x = 8

In [254]:
# 8 -< 1000
# 8 << 3
x

8

### Comparison Operators

In [95]:
x = 5
y = 6

In [96]:
# Equal
x == y

False

In [97]:
# Not equal
x != y

True

In [98]:
# Greater than
x > y

False

In [243]:
# Less than
x < y

False

In [244]:
# Greater than or equal to
x >= y

True

In [245]:
# Less than or equal to
x <= y

False

### Logical Operators

In [ ]:
# and 
# Returns True if both statements are true
x < 5 and  x < 10

In [ ]:
# or
# Returns True if one of the statements is true
x < 5 or x < 4

In [ ]:
# not
# Reverse the result, returns False if the result is true
not(x < 5 and x < 10)

### Identity Operators

In [ ]:
x = 5
y = 6

In [ ]:
# is 
# Returns True if both variables are the same object
x is y

In [ ]:
# is not
# Returns True if both variables are not the same object
x is not y

### Membership Operators

In [ ]:
x = 5
y = [2,3,5]

In [ ]:
# in
# Returns True if a sequence with the specified value is present in the object
x in y

In [ ]:
# not in
# Returns True if a sequence with the specified value is not present in the object
x not in y

### Bitwise Operators

In [ ]:
# &
# AND Sets each bit to 1 if both bits are 1

In [ ]:
# |
# OR Sets each bit to 1 if one of two bits is 1

In [ ]:
# ^
# XOR Sets each bit to 1 if only one of two bits is 1

In [ ]:
# ~ 
# NOT Inverts all the bits

In [ ]:
# <<
# Zero fill Shift left by pushing zeros in from the right and let the leftmost bits fall off

In [ ]:
# >>
# Signed Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

### Lists

In [ ]:
a = 5

In [99]:
List_1 = [1,'a','sujeet',"I am learning Python", a]
List_1

[1, 'a', 'sujeet', 'I am learning Python', 2]

In [100]:
type(List_1)

list

In [101]:
len(List_1)

5

In [102]:
List_1[0]

1

In [103]:
List_1[5]

IndexError: list index out of range

In [104]:
del a

In [106]:
a = 6

In [105]:
List_1

[1, 'a', 'sujeet', 'I am learning Python', 2]

In [107]:
List_1 = [1,'a','sujeet',"I am learning Python", a]
List_1

[1, 'a', 'sujeet', 'I am learning Python', 6]

In [108]:
List_1.append('b')
List_1

[1, 'a', 'sujeet', 'I am learning Python', 6, 'b']

In [109]:
List_2 = list(range(1,15,2))
List_2

[1, 3, 5, 7, 9, 11, 13]

In [110]:
List_1.extend(List_2)
List_1

[1, 'a', 'sujeet', 'I am learning Python', 6, 'b', 1, 3, 5, 7, 9, 11, 13]

In [111]:
List_3 = [x+3 for x in List_1 if type(x)==int]
List_3

[4, 9, 4, 6, 8, 10, 12, 14, 16]

In [112]:
%%timeit
[x**2 for x in List_1 if type(x)==int]

9.23 µs ± 1.24 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
[x/5 for x in range(5,4000,100) if x<=1000]

In [ ]:
'''
append() # Adds an element at the end of the list
clear() # Removes all the elements from the list
copy() # Returns a copy of the list
count() # Returns the number of elements with the specified value
extend() # Add the elements of a list (or any iterable), to the end of the current list
index() # Returns the index of the first element with the specified value
insert() #Adds an element at the specified position
pop() # Removes the element at the specified position
remove() # Removes the item with the specified value
reverse() # Reverses the order of the list
sort() # Sorts the list
'''

### Sets

In [113]:
Set_1 = {"apple", "banana", "cherry","apple"}
Set_1

{'apple', 'banana', 'cherry'}

In [ ]:
'''
add() # Adds an element to the set
clear() # Removes all the elements from the set
copy() # Returns a copy of the set
difference() # Returns a set containing the difference between two or more sets
difference_update() # Removes the items in this set that are also included in another, specified set
discard() # Remove the specified item
intersection() # Returns a set, that is the intersection of two other sets
intersection_update() # Removes the items in this set that are not present in other, specified set(s)
isdisjoint() # Returns whether two sets have a intersection or not
issubset() # Returns whether another set contains this set or not
issuperset() # Returns whether this set contains another set or not
pop() # Removes an element from the set
remove() # Removes the specified element
symmetric_difference() # Returns a set with the symmetric differences of two sets
symmetric_difference_update() # inserts the symmetric differences from this set and another
union() # Return a set containing the union of sets
update() # Update the set with the union of this set and others
'''

### Tuple

In [114]:
Tuple_1 = (1,2,3)
Tuple_1

(1, 2, 3)

In [115]:
List_1 = [1,2,3]
List_1

[1, 2, 3]

In [256]:
print(List_1*5)
print(Tuple_1*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [118]:
print(['a']+List_1[:2]+[4]+List_1[2:])

['a', 1, 2, 4, 3]

In [119]:
print((4,)+Tuple_1)

(4, 1, 2, 3)

In [ ]:
'''
count() # Returns the number of times a specified value occurs in a tuple
index() # Searches the tuple for a specified value and returns the position of where it was found
'''

### Dictionaries

In [120]:
Dict_1 = {'A':1,'B':2,'C':3}

In [122]:
Dict_1['A']

1

In [121]:
Dict_1[0]

KeyError: 0

### Series

In [ ]:
import pandas as pd
df = pd.DataFrame([{'A':1,'B':2,'C':3}])
df.loc[1,'A'] = 2
df

### Array

In [ ]:
import numpy as np
np.array(df['A'])

### Matrix

In [ ]:
np.matrix(df)

### Logical Control Flow

In [127]:
a = int(input("Enter a value : "))

Enter a value : 3

In [128]:
if a > 5: print(a+3)
else: print(a)

3

In [ ]:
if (a>2)&(a<5): print(a+3)
elif (a==1)&(a>=5): print(a+2)
else: print(a)

In [ ]:
if (a>=1)&(a<5): 
    if (a==1): print(a+2)
    else: print(a+3)
else: print(a)

### Looping

In [ ]:
%%timeit
a = 2
while a < 5:
    a += 1
    print(a)

In [ ]:
%%timeit
a = 2
for i in range(1,5000):
    a += 1
    print(a)
    if a >= 5: break

### Functions

In [131]:
def area(a,b):
    c = a+b
    return a,b,c

area(5,6)

(5, 6, 11)

### Classes

In [132]:
# file1.py

class class1():
    a = 2

In [133]:
# file2.py

# import file1

class1.a

2

In [ ]:
import module1

module1.func1()

In [ ]:
import pandas

pandas.read_csv()

In [ ]:
import pandas as pd
pd.read_csv()

In [ ]:
from pandas import read_csv

read_csv()